<h2>Reactive: <small> Dynamics </small></h2>
<hr />

<form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <!-- Nombre -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Name</label>
    <div class="col-sm-9">
      <input
        class="form-control"
        placeholder="Person Name"
        formControlName="name"
      />
      <span *ngIf="isValidField('name')" class="form-text text-danger">
        {{ getErrorMessage("name") }}
      </span>
    </div>
  </div>

  <!-- Agregar Favorito -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Add</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input
          class="form-control"
          placeholder="Add favorites"
          formControlName="newFavoriteGame"
        />

        <button
          class="btn btn-outline-primary"
          type="button"
          (click)="onAddFavoriteGame()"
        >
          Add favorites
        </button>
      </div>
    </div>
  </div>

  <!-- Lista de Juegos Favoritos -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Favorites</label>
    <div class="col-sm-9" formArrayName="favoriteGames">
      <div
        class="mb-1"
        *ngFor="let favorite of favoriteGamesControls; let i = index"
      >
        <div class="input-group">
          <input class="form-control" [formControlName]="i" />

          <button
            class="btn btn-outline-danger"
            type="button"
            (click)="onDeleteFavoriteGame(i)"
          >
            Delete
          </button>
        </div>
        <span
          *ngIf="isValidFieldInArray(favoriteGamesControls, i)"
          class="form-text text-danger"
        >
          {{ getErrorMessageInArray(favoriteGamesControls, i) }}
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <button type="submit" class="btn btn-primary float-end">
        <!-- [disabled]="myForm.invalid" -->
        Guardar
      </button>
    </div>
  </div>
</form>

<span>Valid</span>
<pre>{{ myForm.valid | json }}</pre>
<br />

<span>Value</span>
<pre>{{ myForm.value | json }}</pre>
<br />

<span>Add Game</span>
<pre>{{ newFavoriteGame.value | json }}</pre>
<pre>{{ newFavoriteGame.valid | json }}</pre>
