<h2>Reactive: Switches</h2>
<hr />

<form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSave()">
  <!-- Radio -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label" for="gender">Gender</label>
    <div id="geder" class="col-sm-9">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          value="M"
          id="radioMale"
          formControlName="gender"
        />
        <label class="form-check-label" for="radioMale"> Male </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          value="F"
          id="radioFemale"
          formControlName="gender"
        />
        <label class="form-check-label" for="radioFemale"> Female </label>
      </div>
    </div>
  </div>

  <!-- Switches -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label" for="notifocations"
      >Notifications</label
    >
    <div id="notifications" class="col-sm-9">
      <div class="form-check form-switch mt-2">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckChecked"
          formControlName="wantNotifications"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >I want to receive notifications</label
        >
      </div>
    </div>
  </div>

  <!-- Switches -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label" for="terms">Terms</label>
    <div id="terms" class="col-sm-9">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexCheckDefault"
          formControlName="termsAndConditions"
        />
        <label class="form-check-label" for="flexCheckDefault">
          Terms and conditions of use
        </label>
      </div>
      <span
        class="form-text text-danger"
        *ngIf="isValidField('termsAndConditions')"
      >
        You must accept the terms and conditions
      </span>
    </div>
  </div>

  <!-- Button submit -->
  <div class="row">
    <div class="col">
      <button class="btn btn-primary float-end" type="submit">Save</button>
    </div>
  </div>
</form>

<h5>Value of form</h5>
<pre>{{ myForm.value | json }}</pre>
<br />

<h5>Persona</h5>
<pre>{{ person | json }}</pre>
<br />

<h5>Valid</h5>
<pre>{{ myForm.valid | json }}</pre>

<h5>Terms</h5>
<pre>{{ myForm.get("termsAndConditions")?.value | json }}</pre>

<br />
<pre>Conditions: </pre>
