<h2>Reactive: Basic</h2>
<hr />

<div class="row">
  <div class="col">
    <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSave()">
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Product</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Product name"
            formControlName="name"
          />

          <span *ngIf="isValidField('name')" class="form-text text-danger">
            {{ getErrorMessage("name") }}
          </span>
        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Price</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            formControlName="price"
            placeholder="Product price"
          />
          <span *ngIf="isValidField('price')" class="form-text text-danger">
            {{ getErrorMessage("price") }}
          </span>
        </div>
      </div>

      <!-- Campo de existencias -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Stock</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            placeholder="Product stock"
            formControlName="inStorage"
          />

          <span *ngIf="isValidField('inStorage')" class="form-text text-danger">
            {{ getErrorMessage("inStorage") }}
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary float-end">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <span>Valid</span>
    <pre>{{ myForm.valid | json }}</pre>

    <span>Pristine</span>
    <pre>{{ myForm.pristine | json }}</pre>

    <span>Touched</span>
    <pre>{{ myForm.touched | json }}</pre>

    <span>Value</span>
    <pre>{{ myForm.value | json }}</pre>

    <span>Price</span>
    <pre>{{ myForm.controls["price"].value | json }}</pre>

    <span>Price errors</span>
    <pre>{{ myForm.controls["price"].errors | json }}</pre>

    <span>Product Name</span>
    <pre>{{ myForm.controls["name"].value | json }}</pre>

    <span>Product Name errors</span>
    <pre>{{ myForm.controls["name"].errors | json }}</pre>
  </div>
</div>
